@page "/dm"
@using SWLOR.Game.Server.Enumeration

<h3>DM Authorization</h3>

<div class="row">

    <div class="col">
        <input type="text"
               @bind="@_searchText"
               class="form-control"
               @onblur="RefreshList" />
    </div>
    <div class="col-1">
        <button @onclick="RefreshList"
                class="btn btn-primary">
            Search
        </button>
    </div>

</div>

<table class="table">
	<thead>
		<tr>
			<th>Name</th>
			<th>Type</th>
			<th>Date Created</th>
			<th>Edit</th>
			<th>Delete</th>
		</tr>
	</thead>
	<tbody>

		@foreach (var account in _dms)
		{
			<tr>
				<td>@account.Name</td>
				<td>@account.Authorization.ToString()</td>
				<td>@account.DateCreated</td>
				<td>
					<button type="button"
						class="btn btn-primary">
						Edit
					</button>
				</td>
				<td>
					<button type="button"
					        class="btn btn-danger">
						Delete
					</button>
				</td>
			</tr>
		}

	</tbody>

</table>

@code {
	protected string _searchText;
	private List<AuthorizedDM> _dms;

	protected override async Task OnInitializedAsync()
	{
		RefreshList();
	}

	protected void RefreshList()
	{
		var query = new DBQuery<AuthorizedDM>();
		if (!string.IsNullOrWhiteSpace(_searchText))
		{
		    query.AddFieldSearch(nameof(AuthorizedDM.Name), _searchText, true);
		}

	    _dms = DB.Search(query).ToList();
	}
}
