<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="RedisHost" value="172.17.0.1"/>
    <add key="ServerVaultPath" value="C:\Users\zunath\Desktop\servervault\"/>
    <add key="TempVaultPath" value="C:\Users\zunath\Desktop\tempvault\"/>
    <add key="MigratedVaultPath" value="C:\Users\zunath\Desktop\migratedvault\"/>
  </appSettings>

  <connectionStrings>
    <add name="SwlorContext" connectionString="Server=localhost;Port=3306;Database=swlor;User ID=zunath;Password=swlortest;Connection Timeout=60"/>
  </connectionStrings>
</configuration>