@using Microsoft.AspNetCore.Http.Extensions
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="embed-responsive embed-responsive-21by9">
        <iframe
            title="intro"
            class="embed-responsive-item"
            src="https://@Context.Request.Host/Intro">
        </iframe>
    </div>
</div>
<div class="row">&nbsp;</div>
<div class="row">
    <div class="col-4 offset-8">
        <a href="https://codepen.io/TimPietrusky/pen/eHGfj" target="_blank" rel="noopener noreferrer">Animation: Tim Pietrusky</a>
    </div>
</div>