<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="RedisHost" value="172.31.128.1"/>
  </appSettings>

  <connectionStrings>
    <add name="SwlorContext" connectionString="Server=localhost;Port=3306;Database=swlor;User ID=zunath;Password=swlortest;Connection Timeout=60"/>
  </connectionStrings>
</configuration>