@inherits LayoutComponentBase

<PageTitle>SWLOR.Admin</PageTitle>

<div class="page">
    <div class="sidebar">
        <div class="login-display-top">
            <LoginDisplay />
        </div>
        <NavMenu />
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
