@using Microsoft.AspNetCore.Http.Extensions
@{
    ViewData["Title"] = "Downloads";
}


<div>
    <div class="row">
        <div class="col-12">
            <div class="card border-primary mb-3 center">
                <div class="card-body">
                    <h4 class="card-title">Downloads</h4>

                    <p>
                        The main files necessary to play are distributed over NWSync. This means you can just join the server and get the files!
                        <br />
                        However, there are a few files which aren't distributed this way. You will need to manually install these if you would like them.
                    </p>
                </div>
            </div>
        </div>
    </div>


    <table class="table">
        <thead>
            <tr>
                <th>File Name</th>
                <th>Description</th>
                <th>Instructions</th>
                <th>Download</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td>GUI Override</td>
                <td>This overrides the graphics of your user interface. It will affect all servers so you will need to move it out of your override folder if you no longer wish to use it.</td>
                <td>Extract all files to your My Documents/Neverwinter Nights/override directory.</td>
                <td>
                    <a class="btn btn-primary btn-block" href="@Url.Action("Get", "Downloads")/1" target="_blank" rel="noopener noreferrer">Download</a>
                </td>
            </tr>
        </tbody>

    </table>
</div>